!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/css/reset.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/text.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/960.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/jquery.ui/jquery-ui-1.8.16.custom.css', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:type => 'text/javascript', :src => '/js/lib/jquery.min.js'}
  %body
    #header_bg
      #header_bg_center
        .container_12#header_container
          .grid_6.prefix_6#nav_bar
            %ul#nav_ul
              %li.nav_li
                %a{:href => "/"} home
              %li.nav_li
                %a{:href => "/songs"} browse
              %li.nav_li
                %a{:href => "/new_song"} new
              %li.nav_li
                %a{:href => "http://www.google.com"} google
          #title
    #main_bg
      #main_head
        #main_head_center
      .container_12#main_container
        =yield
      #main_tail
        #main_tail_center
    #footer_bg
      #footer_bg_center
        .container_12#footer_container
          .grid_12#footer
            %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"