%link{:href => '/css/pages/new_song.css', :rel => 'stylesheet', :type => 'text/css'}

- %w[ core widget mouse position autocomplete ].each do |dep|
  %script{:type => 'text/javascript', :src => "/js/plugins/jquery.ui.#{dep}.min.js"}

- %w[ jquery.autogrow jquery.defaultvalue ].each do |dep|
  %script{:type => 'text/javascript', :src => "/js/plugins/#{dep}.js"}

- %w[ song_creator ].each do |dep|
  %script{:type => 'text/javascript', :src => "/js/scripts/#{dep}.js"}

.grid_12#subtitle

  %h2 Submit Song
  
.grid_12#content
  
  %form{}
    
    #ns-info
      %p Song Title
      %input{:type => 'text', :name => 'title'}/
      %br/
      
      %p Artist
      %input{:type => 'text', :name => 'artist'}/
      %br/
    
    #ns-settings
      %p Key
      %input{:type => 'text', :name => 'key'}/
      
      %p Time Signature
      %input{:type => 'text', :name => 'time_signature'}/
    
    #ns-misc
      %p Comments
      %input{:type => 'text', :name => 'comments'}/
      
      %p Tags
      %input{:type => 'text', :name => 'tags'}/
    
    #ns-sections
      
      %ul#ns-sections_ul
      
      %a{:href => 'javascript:;', :id => 'ns-add_section_link'} Add Section
      
    #ns-structure
      
    
    %a{:href => 'javascript:;', :id => 'ns-submit_song_link'} Submit
  